.logo img {
	margin: 0 0.25rem 0 1rem;
	width: 15px;
	height: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  color: var(--accent1-color);
}


h1 {
	font-size: 2rem;
	font-family: Arial, sans-serif;
}

h1, h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}
li{
  display:inline;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: grey;
}


header nav ul {
    display: flex;
    justify-content: flex-end;
}

header nav ul li {
    display: block;
}

header nav ul li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}
.raftinglogo{
    display: flex;
    justify-content: flex-start;
}
.socialmedia a {
    text-decoration: none;
}

#title {
    background-image:url(../wwr/images/rafting41_1024.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    display: table;
    height: 800px;
    width: 100%;
    text-align: center;
}
.title {
    display: table-cell;
    color: white;
    vertical-align: middle;
    font-size: 1.5em;
}

h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.7;
  background-color: var(--accent1-color);
  color: white; /* white text - make sure there is enough contrast with the background-color */
}

.hero article img {
  float: right;
  width: 125px;
}