.logo img {
	width: 10px;
	height: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  color: var(--accent1-color);
}


h1 {
	font-size: 2rem;
	font-family: Arial, sans-serif;
  color:white;
}

li{
  display:inline;
}


header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: grey;
}


header nav ul {
    display: flex;
    justify-content: flex-end;
}

header nav ul li {
    display: block;
}

header nav ul li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}
.raftinglogo{
    display: flex;
    justify-content: flex-start;
}
.socialmedia a {
    text-decoration: none;
}

#title {
    background-image:url(../wwr/images/rafting41_1024.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    display: table;
    height: 800px;
    width: 100%;
    text-align: center;
}
.title {
    display: table-cell;
    color: white;
    vertical-align: middle;
    font-size: 2rem;
}
#article {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 5% 0;
    color: rgb(255, 255, 255)
}

.article-image {
  padding: 0 0 20% 0;
}




