main {
    max-width: 640px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0, 242, 255);
    padding: 1rem;
    background-color: rgb(79, 79, 79);
    color: black;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 300px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid;
    text-align: center;
}